<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>Register/Signup</title>
    
    <link rel="stylesheet" href="{% static 'login_reg/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages" style="color:red;">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- REGISTRATION -->
        <div class="text-center" style="margin-top: 7%">
            <h4>welcome to The Pantry</h4>
            <p>Create an Account</p>

            <!-- REGISTER FORM -->
            <form action="/register" method="POST" class="col-8 offset-2">
                {% csrf_token %}
                <div class="form-group offset-1">
                    <input type="hidden" name="reg" value="reg">

                    <!-- FIRST NAME INPUT -->
                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">

                    <!-- LAST NAME INPUT -->
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">

                    <!-- BIRTHDAY -->
                    <input type="date" name="birthday" id="birthday" class="form-control">

                    <!-- EMAIL -->
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email">

                    <!-- PASSWORD -->
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">

                    <!-- PASSWORD CONFIRMATION -->
                    <input type="password" name="confirm" id="confirm" class="form-control" placeholder="Confirm Password">
                </div>
                <input type="submit" class="btn btn-md" value="SIGN UP">
            </form>

            <p class="spacer">_____________________________________________________________________</p>
            <p class="or"><span class="space">  or  </span></p>

            <!-- SIGN UP -->
            <div class="col-8 offset-2 text-center" style="margin-top: 4%">
                <h5>Already a member?</h5>
                <p>Welcome Back!</p>
                <a href="/" type="submit" class="btn btn-sign btn-md">Log In</a>
            </div>
        </div>
    </div>
</body>

</html>