{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'login_reg/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
    <title>User Profile</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">

</head>

<body>
    <div class="jumbotron">
        <a href="/log_out" class="btn btn-link float-right">Log Out</a>
    </div>
    <div class="container">
        <div class="row">

            <!-- PROFILE COLUMN -->
            <div class="col-4">
                <img src="/static/img/mockProfImage.jpg" id="profilePicture" alt="blueberries">
                <h3>{{user.first_name}}</h3>
                <p>{{user.created_at|date:"M d, Y"}}</p>
                <p><span style="border-bottom: 1px solid black; width: 100%;">MY RECIPES</span></p>
            </div>

            <!-- MAIN CONTENT -->
            <div class="col-8">
                <div>
                    <h3>BLUEBERRY SCONES</h3>
                    <p>September 2019</p>
                    <img src="/static/img/blueberryScones.jpg" class="recipeImage" alt="blueberry scones">
                    <h6>INGREDIENTS:</h6>
                    <h6>DIRECTIONS:</h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>