<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'recipes/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
    <title>Add Recipe</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-11">
                    <li class="nav-item active"><a class="nav-link" href="/user_profile">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ingredients">+Ingredient</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ingredients/find_recipe">Find a Meal</a></li>
                </ul>
                <ul class="navbar-nav col-1">
                    <li class="nav-item"><a class="nav-link" href="/log_out">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 3%;">
                <div class="col-12" style="text-align: center;">
                    <h3>Add New Recipe</h3>
                    <div class="form-group">
                        <form action="add_recipe" method="POST" style="margin-top: 3%">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-8 offset-2">
                                    <!-- RECIPE NAME -->
                                    <input type="text" name="name" class="form-control" placeholder="Recipe Name"> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'name' %}
                                    <p style="color: rgb(255, 10, 10)">{{ message }}</p>
                                    {% endif %} {% endfor %} {% endif %}

                                    <!-- DESCRIPTION -->
                                    <textarea name="description" class="form-control" rows="2" placeholder="Description"></textarea> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'description' %}
                                    <p style="color: rgb(255, 10, 10)">{{ message }}</p>
                                    {% endif %} {% endfor %} {% endif %}
                                    
                                    <!-- DIRECTIONS -->
                                    <textarea name="directions" class="form-control" rows="4" placeholder="Directions"></textarea> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'directions' %}
                                    <p style="color: rgb(255, 10, 10)">{{ message }}</p>
                                    {% endif %} {% endfor %} {% endif %}

                                    <!-- SELECT INGREDIENTS -->
                                        <div class="form-group col-6 offset-3">
                                            <label for="ingredients">Select Ingredients</label>
                                            <select multiple class="form-control" id="ingredients" name="ingredients[]" size="10">
                                        {% for i in ingredients %}
                                        <option value = "{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                    </select> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'ingredients' %}
                                            <p style="color: rgb(255, 10, 10);">{{ message }}</p>
                                            {% endif %} {% endfor %} {% endif %}
                                        </div>
                                    </div>

                                    <!-- ADD REVIEW -->
                                    <div class="col-8 offset-2" style="margin-top: 20px;">
                                        <label for="review">Add a Recipe Review (optional)</label>
                                        <textarea name="review" id="review" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            <a href="/user_profile" class="btn btn-outline-info" style="margin-top: 20px;" id="cancel">Cancel</a><span>
                                <input type="submit" class="btn btn-outline-info" value = "Add" style="margin-top: 20px;" id="add_recipe">
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>