h3 {
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

#add_button {
<<<<<<< HEAD
    width: 25%;
    background-color: rgb(78,54,41, 0.8);
=======
    width: 20%;
    background-color: rgb(78, 54, 41, 0.8);
>>>>>>> 2df72c5da64452eed5a5fbd21d0eac31feb674e5
    color: white;
    border-radius: 1px;
    font-size: 1.1rem;
    padding: 0.375rem 0.75rem;
}

.form-control {
    margin-bottom: 10px;
}

#display_recipes {
    width: 50%;
    background-color: rgb(38, 38, 37, 0.8);
    color: white;
    border-radius: 1px;
    margin-top: 10px;
    border: none;
}

#cancel {
    width: 20%;
    background-color: rgb(78, 54, 41, 0.8);
    color: white;
    border-radius: 1px;
    font-size: 1.1rem;
    padding: 0.375rem 0.75rem;
    border: none;
}

#add_ingredient {
<<<<<<< HEAD
=======
    width: 30%;
    background-color: rgb(38, 38, 37, 0.8);
>>>>>>> 2df72c5da64452eed5a5fbd21d0eac31feb674e5
    color: white;
    border-radius: 1px;
    font-size: 1.1rem;
    border: none;
}