<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'ingredients/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ingredients/css/style.css' %}">
    <title>Find Recipe</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>

<script>
    $(document).ready(function() {
        function mainFunc() {
            $.ajax({
                url: '/ingredients/api/ing_search',
                method: 'post',
                data: $("#rec_form").serialize(),
                success: function(serverResponse) {
                    console.log(serverResponse)
                    $("#ingredients").html(serverResponse)
                }
            })
        }

        function clear_search() {
            $('#search_bar').val('');
            $('option:selected').prop('selected', false);
            mainFunc()
        }
        $("#search_bar").keyup(function() {
            var POST = {}
            POST['from_ajax'] = $(this)[0].value;
            mainFunc()
        })
        $(document).on('click', '#add_button', function(e) {
            e.preventDefault(),
                $.ajax({
                    url: $(this).attr('href'),
                    method: 'post',
                    data: $('#rec_form').serialize(),
                    success: function(serverResponse) {
                        $("#ing_list").append(serverResponse)
                    }
                })
            clear_search();
        })
    })
</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/user_profile">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav col-11">
                    <li class="nav-item"><a class="nav-link" href="/recipes/new_recipe">+Recipe</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ingredients/">+Ingredient</a></li>
                </ul>
                <ul class="navbar-nav col-1">
                    <li class="nav-item"><a class="nav-link" href="/log_out">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container" style="margin-top: 2%">
            <h3>What's in your pantry?</h3>
            <p>Select up to 8 ingredients:</p>
            <div class="row">
                <div class="col">
                    <!-- ENTIRE PAGE IS A FORM -->
                    <!-- Keep everything in the form -->
                    <form action="/ingredients/search_recipe" id="rec_form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!-- SEARCH BAR -->
                                    <div class="row">
                                        <div class="col-12">
                                            <input class="form-control mr-sm-2" type="text" name="srch" placeholder="Search" aria-label="Search" id="search_bar">
                                        </div>
                                    </div>
                                    <!-- MULTI_SELECT BOX -->
                                    <!-- Dont move anything out of this div -->
                                    <div id="add_ingredient">
                                        <select multiple class="form-control" id="ingredients" name="ingredients[]" size="10">
                                    {% for i in all_ingredients %}
                                    <option value = "{{i.id}}" class = "ingredient">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                                        <!-- ADD LINK -->
                                        <a href="/ingredients/select_ingredient" id="add_button" class="col offset-10">Add</a>
                                    </div>
                                </div>
                            </div>
                            <!-- DISPLAY SELECTED INGREDIENTS -->
                            <!-- Don't get rid of the id. Keep ul in div - style div however -->
                            <div class="col-sm-6 offset-2">
                                <ul id="ing_list"></ul>
                            </div>
                        </div>
                        <!-- SUBMIT BUTTON -->
                        <div class="row justify-content-end">
                            <input type="submit" class="btn" value="Find Recipes" id="display_recipes">
                        </div>
                    </form>
                </div>
            </div>
        <!-- ALL MATCHED RECIPES -->
        <div class="row">
            <div class="col-8" id="recipes_found">
            </div>
        </div>
    </div>
</body>

</html>