<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% load static %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'ingredients/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ingredients/css/style.css' %}">
    <title>Add Ingredients</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
    <div class="container">
        <a class="navbar-brand" href="/user_profile">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-11">
                <li class="nav-item"><a class="nav-link" href="/recipes/new_recipe">+Recipe</a></li>
                <li class="nav-item"><a class="nav-link" href="/ingredients/find_recipe">Find a Meal</a></li>
            </ul>
            <ul class="navbar-nav col-1">
                <li class="nav-item"><a class="nav-link" href="/log_out">Logout</a></li>
            </ul>
        </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 3%">
                <div class="col-8" style="text-align: center;">
                    <h3>Add Ingredients</h3>
                    <div class="form-group">
                        <form action="/ingredients/add_ingredient" method="POST">
                            {% csrf_token %}

                            <!-- INGREDIENT NAME -->
                            <input type="text" name="name" class="form-control" placeholder="Ingredient Name"> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'name' %}
                            <p style="color: rgb(255, 10, 10);">{{ message }}</p>
                            {% endif %} {% endfor %} {% endif %}

                            <!-- DESCRIPTION -->
                            <textarea name="description" class="form-control" rows="4" placeholder="Description"></textarea> {% if messages %} {% for message in messages %} {% if message.extra_tags == 'description' %}
                            <p style="color: rgb(255, 10, 10);">{{ message }}</p>
                            {% endif %} {% endfor %} {% endif %}

                            <!-- PRICE -->
                            <input type="text" name='price' class="form-control" placeholder="Price"></textarea>
                            {% if messages %} {% for message in messages %} {% if message.extra_tags == 'price' %}
                            <p style="color: rgb(255, 10, 10);">{{ message }}</p>
                            {% endif %} {% endfor %} {% endif %}
                            <a href="/user_profile" class="btn btn-outline-info" style="margin-top: 20px;" id="cancel">Cancel</a><span>
                                <input type='submit' class = "btn btn-outline-info" style="margin-top: 20px;" value= 'Add' id="add_ingredient">
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>